@CHARSET "UTF-8";

html, body { font-size:0.85em; font-family:Dotum, Arial, Helvetica, sans-serif; color:#ffffff; -webkit-text-size-adjust: none;  height:  auto;}

html body{
	background-color: #deeaee;
}
.WolfharuRadioCheckbox{
 padding-top : 50px;
 padding-bottom : 50px;
 padding-left : 40px;
 padding-right: 40px;

 }

.wrap { width:1200px; margin:0 auto;  padding:2em 0; }

.WolfharuRadioCheckbox {
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	background-color:#e4e3de;
}
.WolfharuRadioCheckbox form { padding:20px 25px 5px 25px; }
.WolfharuRadioCheckbox fieldset { margin-bottom:15px; }
.WolfharuRadioCheckbox legend { padding-bottom:15px; font-weight:bold; font-size:17px; color:#3b5998; }

.WolfharuRadioCheckbox .para { padding:0 10px 10px 10px; }

.WolfharuRadioCheckbox p.ti { margin:0 0 15px; padding:8px 5px 5px 8px; font-weight:bold; font-size:15px; color:#333333; background-color:#f0f0f0; }
.WolfharuRadioCheckbox p { position:relative; margin:0 0 8px 0; }
.WolfharuRadioCheckbox p label { color:#423c32; }

.WolfharuRadioCheckbox p>input[type="checkbox"], .WolfharuRadioCheckbox p>input[type="radio"] { position:relative; top:-1px; vertical-align:middle; }

.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"], .WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"] { position:absolute; left:0; top:0; width:20px; height:20px; margin:0; opacity:0; }
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"] + label, .WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"] + label {
	margin:0 0 0 0; padding:4px 0 2px 30px; display:inline-block; background:url(http://wolfharu.cafe24.com/css/WolfharuRadioCheckbox/common/bg_wolfharuradiocheckbox_1.png) no-repeat left top;
	width:100%; height:22px; display:block; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"] + label { background-position:left -100px; }

.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"]:disabled + label { background-position:left -25px; }
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"]:checked + label { background-position:left -50px; }
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"]:checked:disabled + label { background-position:left -75px; }

.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"]:disabled + label { background-position:left -125px; }
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"]:checked + label { background-position:left -150px; }
.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"]:checked:disabled + label { background-position:left -175px; }

.WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="checkbox"]:focus + label, .WolfharuRadioCheckbox p:not(#cssbrowser)>input[type="radio"]:focus + label {
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,226,0.6); -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,226,0.6); box-shadow:inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,226,0.6);
































}