<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="login" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER WHERE ID = #{id} AND PASSWORD = #{password}
	</select>

	<select id="chkDup" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER WHERE ID = #{id}
	</select>

	<select id="emailChk" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER WHERE EMAIL = #{email}
	</select>

	<select id="ChkEmailId" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER WHERE ID = #{id} AND EMAIL = #{email}
	</select>
	
	<select id="selectExp" parameterType="string" resultType="_long">
	SELECT EXP
	FROM MEMBER
	WHERE ID=#{writerid}
	</select>

	<insert id="enroll">
		insert into member
		values
		(MEM_SEQ.NEXTVAL,#{id},#{password},#{email},null,0,1,0,0,0,0,90,#{job},SYSDATE,null,DEFAULT)
	</insert>

	<insert id="google">
		insert into member
		values
		(MEM_SEQ.NEXTVAL,#{id},#{password},#{email},#{photo},0,1,0,0,0,0,90,#{job},SYSDATE,null,DEFAULT)
	</insert>

	<update id="update">
		update member set
		PASSWORD=#{password},
		EMAIL=#{email},
		JOB=#{job} WHERE
		ID=#{id}
	</update>

	<update id="updatePhoto">
		update member set
		PHOTO=#{photo} where ID=#{id}
	</update>

	<select id="selectMember" parameterType="string" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE ID=#{writerid}
	</select>

	<select id="leveling" parameterType="_long" resultType="java.lang.Integer">
		SELECT
		MAX(LEV)
		FROM LEVELING
		WHERE EXP&lt;#{exp}
	</select>

	<select id="recompoint" resultType="java.lang.Integer"
		parameterType="string">
		SELECT RECOMPOINT
		FROM MEMBER
		WHERE ID=#{id}
	</select>

	<update id="recomcount5" parameterType="_int">
		UPDATE MEMBER
		SET
		RECOMPOINT=RECOMPOINT-5
		WHERE MEMBERCODE=#{membercode}
	</update>

	<update id="recomcount3" parameterType="_int">
		UPDATE MEMBER
		SET
		RECOMPOINT=RECOMPOINT-3
		WHERE MEMBERCODE=#{membercode}
	</update>

	<select id="havmedal" resultType="java.lang.Integer"
		parameterType="_int">
		SELECT HAVMEDAL
		FROM MEMBER
		WHERE MEMBERCODE=#{membercode}
	</select>

	<update id="givemedal" parameterType="_int">
		UPDATE MEMBER
		SET
		HAVMEDAL=HAVMEDAL-1
		WHERE MEMBERCODE=#{membercode}
	</update>

	<update id="buyMedal">
		UPDATE MEMBER
		SET HAVMEDAL=HAVMEDAL+#{medal}
		WHERE
		MEMBERCODE=#{membercode}
	</update>

	<insert id="updateDDARU">
		UPDATE MEMBER
		SET DDARU=DDARU+#{ddaru}
		WHERE
		MEMBERCODE=#{membercode}
	</insert>
	
	<update id="buyDDaru">
		UPDATE MEMBER
		SET DDARU=#{ddaru}
		WHERE
		MEMBERCODE=#{membercode}
	</update>
	
	<select id="DDaruInfo" resultType="Member">
		SELECT *
		FROM MEMBER WHERE MEMBERCODE = #{membercode}
	</select>
	
	<update id="DeleteMember">
		UPDATE MEMBER
		SET QUITDATE = SYSDATE+3
		WHERE
		ID = #{id}
	</update>
	
	<update id="profileImgDel">
	UPDATE MEMBER
	SET PHOTO = ''
	WHERE MEMBERCODE=#{membercode}
	</update>
	
	<update id="buyLevelItem">
	UPDATE MEMBER
	SET LEVELITEM = 'Y'
	WHERE MEMBERCODE=#{membercode}
	</update>
	
	<select id="memberInfo" resultType="Member">
		SELECT *
		FROM MEMBER WHERE ID = #{id}
	</select>
	
	<select id="profileInfo" resultType="member" parameterType="hashmap">
	SELECT MEMBERCODE,ID, EMAIL,PHOTO, MEDAL, EXP, REPORT, RECOMPOINT,
	(SELECT COUNT(*) FROM BOARD WHERE WRITERID=#{id1}) boardCount,
	(SELECT COUNT(*) FROM COMMENTS WHERE WRITERID=#{id2}) commentsCount,
	ENROLLDATE
	FROM member 
	WHERE ID=#{id3}
	</select>
</mapper>